


/*  */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery {
    width: 95%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 0fr);
    padding: 15px;
}

img {
    display: block;
    object-fit: cover;
}

.img-container {
    position: relative;
    width: 100%;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
    }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #d5a0b7;
}

.img-container:hover .overlay {
    opacity: 0.85;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.menu-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-items-container {
    /* background: #ff6e7f;  
    background: -webkit-linear-gradient(to right, #ff6e7f, #a2dcfc); 
    background: linear-gradient(to right, #ff6e7f, #a2dcfc);  */
    background-color: #d5a0b7;
    width: 95%;
    height: 50vh;
    border-radius: 25px;
    overflow-y: hidden;
    padding-bottom: 15px;
    padding-top: 15px;
}
.menu-nav {
    height: 100%;
    overflow-y: scroll;
}
.menu-nav ul {
    list-style-type: none;
    padding: 5px;
    width: 95%;
    margin: auto auto;
    padding-top: 15px;
    display: table;
    -webkit-transition:all 0.4s ease-out;
    -moz-transition:all 0.4s ease-out;
    -o-transition:all 0.4s ease-out;
    transition:all 0.4s ease-out;
}
li {
    margin-bottom: 0.5rem;
}
.menu-item {
    border: solid;
    border-radius: 15px;
    border-width: 0 0 0 0;
    display: table;
    background: white;
    margin-top: 4px;
    min-height: 2em;
}
.menu-item .category-icon {
    font-size: 1.5rem;
    width: 2rem;
    padding: 0.25rem;
    padding-left: 1rem;
    display: table-cell;
    vertical-align: middle;
    position:relative;
}
.menu-item .menu-item-name {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    padding: 10px;
    padding-left: 1.25rem;
    font-size: 25px;
}

.menu-item .job-item {
    font-size: 1.5rem;
    width: 2rem;
    padding: 0.25rem;
    padding-left: 1rem;
    display: table-cell;
    vertical-align: middle;
    position:relative;
}

.job-image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    -webkit-transform: translate(-32%, -32%);
    -ms-transform: translate(-32%, -32%);
    transform: translate(-32%, -32%);
} 
li {
    padding: 11px;
}
.sub-text {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 15px;
}
.main-text {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    line-height: 25px;
}