
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery {
    width: 95%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 0fr);
    padding: 15px;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.img-container {
    position: relative;
    width: 100%;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
    }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #d5a0b7;
}

.img-container:hover .overlay {
    opacity: 0.8;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Lato', sans-serif;
}