body, html {
    height: 100%;
  }
.bg {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://images.pexels.com/photos/374860/pexels-photo-374860.jpeg");
    margin-top: 1px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner {
    height: auto;
    background: #ff6e7f;  
    background: -webkit-linear-gradient(to right, #ff6e7f, #a2dcfc); 
    background: linear-gradient(to right, #ff6e7f, #a2dcfc); 
    text-align: center;
}
.logo {
    font-family: 'Knewave', cursive;
    font-size: 40px;
}

.logo-text {
    color:white;
}

.logo-icon {
    color: white;
}

.subtitle {
    font-family: 'Julius Sans One', serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;

    background: #d5a0b7;  
    /* background: -webkit-linear-gradient(to right, #ff6e7f, #a2dcfc); 
    background: linear-gradient(to right, #ff6e7f, #a2dcfc);  */

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar {
    padding: 15px;
}
.navbar-item {
    color: white;
    font-family: 'Julius Sans One', serif;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    
}

.navbar a:hover {
    color: #d5a0b7;
    color: linear-gradient(to right, #ff6e7f, #a2dcfc); 
    background: white;   
    font-family: 'Julius Sans One', serif;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    
}
.noselect {
    /* thanks to https://stackoverflow.com/posts/4407335/revisions */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }